@model uSyncScrapper.Models.DocumentType

@{ 
    var index = 1;
}

<h3><a name="@Model.Name">@Model.Index. @Model.Name</a></h3>
<p>@Model.Description</p>

@foreach (var item in Model.Properties)
{
    string text = item.Text;
    text = text.TrimEnd('.');
    var maxItemsText = item.MaxItems > 0 ?
        string.Format("At most {0} {1} can be added.", item.MaxItems, item.Name) :
        "There is no limit on the number of items that can be added.";
    <h5>@Model.Index.@index. @item.Name</h5>
    <p class="property">@text. @maxItemsText Can be set at the '@item.Name' property of the '@item.Tab' tab.</p>
    index++;
}