@model uSyncScrapper.Models.DocumentType

<h2><a name="@Model.Name">@Model.Name</a></h2>
<p>@Model.Description</p>

@foreach (var item in Model.Properties)
{
    <h4>@item.Name</h4>
    <ul>
        <li>Can be set at the @item.Name property of the @item.Tab tab.</li>
        <li>@item.Text</li>
    </ul>
}